<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="My Library"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="true" />
        <activity
            android:name=".AddBookActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".BrowseActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".CategorySelectionActivity"
            android:label="Category Selection">
        </activity>
        <activity
            android:name=".BooksByCategoryActivity"
            android:label="Books By Category" />
        <activity
            android:name=".AuthorSelectionActivity"
            android:label="Books By Author" />
        <activity
            android:name=".BooksByAuthorActivity"
            android:label="Books By Author" />
        <activity android:name=".GenreSelectionActivity"
                    android:label="Books by Genre"/>
        <activity
            android:name="com.example.myapplication.BooksByGenreActivity"
            android:label="Books by Genre">
        </activity>
        <activity
            android:name=".ASINInputActivity"
            android:label="ASIN Input" />
        <activity
            android:name=".NameInputActivity"
            android:label="Name Input Activity" />

        <activity
            android:name=".BookDetailsActivity"
            android:label="Book Details Activity" />
        <activity android:name=".AccountSummaryActivity" />

    </application>

</manifest>
